*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.tela{
    height: 927px;
    width: 1280px;
    margin: 0 auto;
}

html,body{
    height: 100%;
}
.header{
    min-width: 1300px;
    width: 100%;
    height: 10%;
    background-color:  #294051;
    border-bottom: 3px solid black;
}

.header h1{
    font-size: 25px;
    padding: 1%;
    color: rgba(255, 255, 255, 0.973);
}

.banner{
    min-width: 1300px;
    width: 100%;
    height: 100%;
    background-image:url('../images/business-meeting-over-coffee\ \(1\).jpg');
    background-size: cover;
    background-position: center;
}

.banner > .tela{
    height: 100%;
    text-align: right;

}

.form{
    width: 380px;
    height: calc(100% + 60px) ;
    background-color:white;
    float: right;
    display: inline-block;
    position: relative;
    top: -30px;
    
    background-color: rgba(33, 35, 67, 0.9);
    padding:10px;
    
    
}

h2{
    color:white;
    text-align: center;
    font-size: 20px;   
}

.perguntas{
    color: white;
    text-align: left;
    margin-top: 20px;
    

}

.perguntas span{
    width: 100%;
    display: inline-block;
    padding-top: 20px;
}

.perguntas input[type=text]{
    width: 344px;
    height: 40px;
    border: 1px solid black;
    margin-top: 7px;
    
}

.atenção{
    color: white;
    text-align: left;
    margin-top: 15px;
}

.form .centralizando{
    text-align: center;
}

form input[type=button]{
    background-color: #363a6d;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 18px;
    display: inline-block;
    width: 200px;
    height: 45px;
    cursor: pointer;
}

.apresentação{
    float: left;
    width: 500px;
    height: 450px;
    background-color: rgba(33, 35, 67, 0.9);
    margin-top: 60px;
    padding: 50px;
    border:3px groove black;
}

.apresentação ul li{
    list-style-position: inside;
    color: white;
    text-align: left;
    margin-top: 30px;
}

.apresentação h1{
    margin-top: 5px;
    text-align: center;
    color:white;
 
}

.apresentação h2{
    margin-top: 30px;
    text-align: center;
    color:;
}

.segunda{
    min-width: 1300px;
    padding:70px 0px ;
    background-color: #294051;
    color: WHITE;
    text-align: center;
    height: 300px;
    border:3px groove black;
    
}

.segunda p{
    width: 900px;
    display: inline-block;
    margin-top: 5px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.arrow{
    width: 64px;
    height: 64px;
    background-image:url(../images/arrow.png);
    margin-top: 60px;
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: -20px;
    
    
}


.section{
    margin-top: 45px;
    text-align: center;
    color: #294051;
}

.photos-section{
   padding: 90px;
}



.icone-fotos {
    float: left;
    width: 33.333%;
    text-align: center;
    
}

.icone-fotos p{
   font-size: 30px; 
   text-align: justify;
   text-align: center;
   display: inline-block;
   padding: 3% 10%;
    
}


.direitos{
    padding:5% 0% ;
    clear: both;
    border-top: 1px solid black;
    font-size: 30px;
    text-align: center;
}