@media screen and (max-width:420px){
   main{
       #apresentação,form{
           padding:15px;
       }
   }

   section{
       padding: 15px;
      p{
        line-height: 20px;
        text-align: left;
      }
   }
}